<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <main>
        <h1>My Receipts</h1>
        <p>
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'category_list' %}">Category</a>
          <a href="{% url 'account_list' %}">Account</a>
        </p>
        <p>
          <a href="{% url 'create_receipt' %}">Create Receipt</a>
        </p>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in receipts %}
                      <tr>
                          <td>{{ receipt.vendor }}</td>
                          <td>{{ receipt.total }}</td>
                          <td>{{ receipt.tax }}</td>
                          <td>{{ receipt.date|date:"m/d/y" }}</td>
                          <td>{{ receipt.category.name }}</td>
                          <td>{{ receipt.account.name }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
  </body>
</html>
